// Place all the styles related to the Map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
    height: 100%;
    width: 100%;
}

#weapons, #reasons {
    clear: both;
    @extend .row;
    .row-header {
        width: 150px;
        float: left;
        padding-left: 50px;
        font-weight: bold;
    }
    ul {
        list-style: none;
        display: inline;
        li {
            @extend .pull-left;
            display: inline;
        }
    }
}


label {
    margin-left: 10px;
    float: left;
    display: table-cell;
    input {
        float: left;
    }
}


.page-container {
    @extend .container;
    height: 100%;
    width: 100%;
}

#map {
    height: 80%;
    width: 100%;
    border: 1px solid black;
    img {
        max-width: none;
    }

}
