// Place all the styles related to the Map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
    height: 100%;
    width: 100%;
}

#weapons, #reasons {
    clear: both;
    @extend .span12;
    .row-header {
        width: 150px;
        display: inline-block;
        float: left;
        font-weight: bold;
    }
}
label {
    margin-left: 5px;
}


#map {
    height: 80%;
    width: 100%;
    border: 1px solid black;
    img {
        max-width: none;
    }

}
