%h1 Firefall the Game - Death Toll by Base

#weapons
  .row-header Deadly Weapons
  %form{class: 'form-inline'}
    #weapons-detail
#reasons
  .row-header Death Reasons
  %form{class: 'form-inline'}
    #reasons-detail


#map

